# IATTC
The IATTC list was obtained from Juan Mayorga, who scraped the data and matched it to the AIS data. The data is saved in `from_bigquery/matched_mmsi_IATTC.csv` (although it wasn't gotten from bigquery). this notebook reads the file in and converts the power from horsepower to kilowatt hours and saves it at `../classification-list-sources/iattc.csv`

In [2]:
import pandas as pd
import csv
import pandas.io.gbq as bq

In [4]:
# first find the geartypes
iattc = pd.DataFrame.from_csv('from_bigquery/matched_mmsi_IATTC.csv')

In [5]:
# ffa = ffa.set_index('mmsi')
iattc.head()

           clav_TUVI  rfmo_id  length  tonnage   power
mmsi
224130000         66     8767   38.00    427.0     NaN
431500180        395     4915   49.20    398.0     NaN
224120840       1666     8789   24.00     43.0     NaN
440847000        201     8133   49.91    410.0  1200.0
440751000        486     8403   49.91    410.0  1200.0

In [8]:
iattc = iattc.rename(columns = {'power':'power_hp'})

In [11]:
# 1 ps = 0.735499 kw 
# 1 hp = 0.7457 kw

def calc_kw(a):
    try:
        c = .75
        return float(a)*c
    except:
        return None


iattc['power'] = iattc.apply(lambda row: calc_kw(row['power_hp']), axis=1)

In [12]:
iattc.head()

           clav_TUVI  rfmo_id  length  tonnage  power_hp  power
mmsi
224130000         66     8767   38.00    427.0       NaN    NaN
431500180        395     4915   49.20    398.0       NaN    NaN
224120840       1666     8789   24.00     43.0       NaN    NaN
440847000        201     8133   49.91    410.0    1200.0  900.0
440751000        486     8403   49.91    410.0    1200.0  900.0

In [14]:
iattc.to_csv('../classification-list-sources/iattc.csv')