In [36]:
import csv
import pandas as pd
import pandas.io.gbq as bq
import numpy as np

In [ ]:
clav_names = '''Longliners
Tuna longliners
Fish carriers
Purse seiners
Trawlers
Tuna purse seiners
Pole and Line vessels
Non-fishing vessels nei
Unknown
Trollers
Recreational fishing vessels
Multipurpose vessels
Bunkers
Multipurpose vessels nei
Fishery research vessels
Support Vessels
Gillnetters
Handliners
Dredgers

Liners
Motherships
Freezer longliners
Liners nei
Seiners
Other fishing vessels
Seiners nei
Fishing vessels not specified
Other line vessels
Stern trawlers'''

In [26]:
clav_names_to_map = '''Longliners:Drifting_longlines
Tuna longliners:Drifting_longlines
Fish carriers:Reefer
Purse seiners:Purse_seines
Trawlers:Trawlers
Tuna purse seiners:Purse_seines
Pole and Line vessels:Pole_and_line
Non-fishing vessels nei:Unknown
Unknown:Unknown
Trollers:Trollers
Recreational fishing vessels:Recreational_fishing
Multipurpose vessels:Recreational_fishing
Bunkers:Bunker
Multipurpose vessels nei:Unknown
Fishery research vessels:Research
Support Vessels:Unknown
Gillnetters:Set_gillnets
Handliners:Handliners
Dredgers:Trawlers
:Unknown
Liners:Unknown
Motherships:Unknown
Freezer longliners:Unknown
Liners nei:Unknown
Seiners:Unknown
Other fishing vessels:Unknown
Seiners nei:Unknown
Fishing vessels not specified:Unknown
Other line vessels:Unknown
Stern trawlers:Trawlers'''.split("\n")

In [27]:
clav_mapping_old = {
    'Gillnetters':'Set_gillnets',
    'Longliners':'Drifting_longlines',
    'Pole and Line vessels':'Pole_and_line',
    'Purse seiners':"Purse_seines",
    'Recreational fishing vessels':"Recreational_fishing",
    'Seiners':'Purse_seines',
    'Seiners nei':"Purse_seines",
    'Strn trawlers':'Trawlers',
    'Tralwers':'Trawlers',
    'Trollers':'Trollers',
    'Tuna longliners':'Drifting_longlines',
    'Tuna purse seiners':"Purse_seines"
}

In [28]:
clav_mapping = {}
for c in clav_names_to_map:
    c = c.split(":")
    clav_mapping[c[0]]=c[1]

In [29]:
# The following are mappings that we figured out earlier --
# see ../kroodsma_listbuild/fishing_vessels_for_net_20161111.ipynb


#   WHEN shiptype = 'Tuna purse seiners' THEN 'Purse seines'
#   WHEN shiptype = 'Purse seiners' THEN 'Purse seines'
#   WHEN shiptype = 'Tuna longliners' THEN 'Drifting longlines'
#   WHEN shiptype = 'Longliners' then 'Drifting longlines'
#   WHEN shiptype = 'Trawler' THEN 'Trawlers'
#   WHEN shiptype = 'Liners' THEN 'Drifting longlines'
#   ELSE shiptype

In [30]:
# for now, we are treating all the weird stuff as "unkown" from the clav list

case_query = 'Case\n'
for c in clav_mapping:
    case_query += "     When shiptype='{0}' then '{1}'\n".format(c,clav_mapping[c])
case_query +="    else 'Unknown' end\n"

q = '''
#select mmsi, 
#if(number_shiptypes>1,Null,shiptype) shiptype,
#if(length_stddev > .15*length, null, length) length,
#if(tonnage_stddev > .15*tonnage, null, tonnage) tonnage
#from

#(
select mmsi, 
group_concat(shiptype,"|") shiptype, 
avg(length) length ,avg(tonnage) tonnage, 
avg(stddev_length) length_stddev, 
avg(stddev_tonnage) tonnage_stddev, 
count(*) number_shiptypes ,
from
(select a.mmsi as mmsi, a.shiptype as shiptype, avg(b.length) length, avg(c.tonnage) tonnage, 
stddev(b.length) stddev_length, stddev(c.tonnage) stddev_tonnage
from 
(SELECT mmsi, 
{case_query}
shiptype, 
clav_TUVI FROM [world-fishing-827:CLAV_match_results.v10_results]) a
left join
(select length, integer(clav_TUVI) clav_TUVI from [scratch_bjorn.CLAV_2016_Aug_04_ISSF_IMO] where length is not null)  b
on a.clav_TUVI = b.clav_TUVI
left join 
(select tonnage, integer(clav_TUVI) clav_TUVI from [scratch_bjorn.CLAV_2016_Aug_04_ISSF_IMO] where tonnage is not null)  c
on a.clav_TUVI = c.clav_TUVI
group by mmsi, shiptype)
group by mmsi
#)
'''.format(case_query=case_query)

In [31]:
print q

#select mmsi,
#if(number_shiptypes>1,Null,shiptype) shiptype,
#if(length_stddev > .15*length, null, length) length,
#if(tonnage_stddev > .15*tonnage, null, tonnage) tonnage
#from

#(
select mmsi,
group_concat(shiptype,"|") shiptype,
avg(length) length ,avg(tonnage) tonnage,
avg(stddev_length) length_stddev,
avg(stddev_tonnage) tonnage_stddev,
count(*) number_shiptypes ,
from
(select a.mmsi as mmsi, a.shiptype as shiptype, avg(b.length) length, avg(c.tonnage) tonnage,
stddev(b.length) stddev_length, stddev(c.tonnage) stddev_tonnage
from
(SELECT mmsi,
Case
     When shiptype='' then 'Unknown'
     When shiptype='Handliners' then 'Handliners'
     When shiptype='Trawlers' then 'Trawlers'
     When shiptype='Unknown' then 'Unknown'
     When shiptype='Longliners' then 'Drifting_longlines'
     When shiptype='Tuna purse seiners' then 'Purse_seines'
     When shiptype='Seiners' then 'Unknown'
     When shiptype='Fish carriers' then 'Reefer'
     When shiptype='Multipurpose vessels' then 'Recreational_fishing'
     When shiptype='Purse seiners' then 'Purse_seines'
     When shiptype='Fishery research vessels' then 'Research'
     When shiptype='Multipurpose vessels nei' then 'Unknown'
     When shiptype='Bunkers' then 'Bunker'
     When shiptype='Stern trawlers' then 'Trawlers'
     When shiptype='Liners' then 'Unknown'
     When shiptype='Motherships' then 'Unknown'
     When shiptype='Support Vessels' then 'Unknown'
     When shiptype='Recreational fishing vessels' then 'Recreational_fishing'
     When shiptype='Other line vessels' then 'Unknown'
     When shiptype='Tuna longliners' then 'Drifting_longlines'
     When shiptype='Fishing vessels not specified' then 'Unknown'
     When shiptype='Seiners nei' then 'Unknown'
     When shiptype='Trollers' then 'Trollers'
     When shiptype='Liners nei' then 'Unknown'
     When shiptype='Dredgers' then 'Trawlers'
     When shiptype='Freezer longliners' then 'Unknown'
     When shiptype='Non-fishing vessels nei' then 'Unknown'
     When shiptype='Other fishing vessels' then 'Unknown'
     When shiptype='Pole and Line vessels' then 'Pole_and_line'
     When shiptype='Gillnetters' then 'Set_gillnets'
    else 'Unknown' end

shiptype,
clav_TUVI FROM [world-fishing-827:CLAV_match_results.v10_results]) a
left join
(select length, integer(clav_TUVI) clav_TUVI from [scratch_bjorn.CLAV_2016_Aug_04_ISSF_IMO] where length is not null)  b
on a.clav_TUVI = b.clav_TUVI
left join
(select tonnage, integer(clav_TUVI) clav_TUVI from [scratch_bjorn.CLAV_2016_Aug_04_ISSF_IMO] where tonnage is not null)  c
on a.clav_TUVI = c.clav_TUVI
group by mmsi, shiptype)
group by mmsi
#)

In [32]:
# Because bigquery doesn't let us link up when the list is in Google drive, I downloaded the
# results of this query to from_bigquery/clav_v10_downloaded.csv

In [33]:
df = pd.read_csv('from_bigquery/clav_v10_downloaded.csv', comment='#')
df.head()

,mmsi,shiptype,length,tonnage,length_stddev,tonnage_stddev,number_shiptypes
0,338793000,Purse_seines,63.12,1446.500000,0.0,75.367670,1
1,416002947,Drifting_longlines,29.70,98.000000,0.0,0.000000,1
2,416000961,Drifting_longlines,23.20,61.230000,NaN,NaN,1
3,224654000,Drifting_longlines,40.50,434.223333,0.0,89.719106,1
4,412371206,Drifting_longlines,43.20,560.000000,0.0,0.000000,1

In [34]:
# if stdv of length > 20 percent the length of the vessel, we should through out the length
df[(df["length_stddev"] > df["length"]/5)]#['length']=np.nan

,mmsi,shiptype,length,tonnage,length_stddev,tonnage_stddev,number_shiptypes
37,356567000,Reefer|Unknown,7289.170000,12413.0000,8250.139048,0.000000,2
280,352894000,Reefer,1985.205000,4499.0000,4191.965616,0.000000,1
289,357735000,Reefer,6432.690000,7367.0000,6740.659925,0.000000,1
807,306723000,Unknown,1447.835000,264.0000,1517.151202,0.000000,1
837,366943720,Trollers,27.135000,31.5000,15.463735,1.603567,1
863,367379720,Pole_and_line,37.835000,63.0000,21.557292,3.207135,1
877,224072890,Unknown,29.350000,125.8450,7.043673,53.295203,1
1030,367366210,Pole_and_line,44.490000,110.5000,25.347056,5.879747,1
1114,353019000,Reefer,565.405000,4109.0000,494.534857,0.000000,1
1390,351747000,Reefer,6382.695000,7355.0000,6688.271376,0.000000,1
1586,215000770,Unknown,36.775000,273.2300,14.809034,192.569409,1
1717,512000058,Recreational_fishing,38.000000,1142.0000,45.254834,1612.203461,1
1730,366388000,Recreational_fishing|Trollers,43.710000,71.0000,26.892976,30.022214,2
1745,367153680,Unknown,47.035000,116.0000,35.447263,0.000000,1
1932,548057100,Drifting_longlines,42.100000,459.5075,11.262498,238.435011,1
1933,367578550,Purse_seines,45.405000,128.5000,27.937980,7.505553,1
2004,353038000,Purse_seines,421.900000,1627.0000,368.927418,296.125456,1
2066,370599000,Recreational_fishing|Reefer,2345.511667,6558.0000,4992.442025,0.000000,2
2215,520146000,Drifting_longlines,31.875000,136.0000,6.682159,80.610173,1
2604,367156340,Recreational_fishing,45.200000,73.5000,24.890373,38.729833,1
2980,353171000,Purse_seines,425.150000,2058.0000,401.662582,0.000000,1
2990,367028360,Trollers,37.185000,24.0000,21.183126,1.069045,1
3129,366993790,Trollers|Recreational_fishing,47.800000,148.0000,36.062446,0.000000,2
3155,367019950,Trollers,37.510000,66.0000,21.370209,3.207135,1
3213,529783000,Purse_seines,67.950000,1549.0000,16.899852,1115.814501,1
3386,367134180,Pole_and_line,33.970000,53.5000,20.934721,2.886751,1
3640,367123290,Trollers,57.735000,167.0000,35.524362,9.237604,1
3715,367331060,Trollers,43.055000,90.5000,26.494604,5.196152,1

In [40]:
df.loc[(df["length_stddev"] > df["length"]/5),'length']=np.nan

In [42]:
# if stdv of tonnage > 20 percent the tonnage of the vessel, we should through out the length
df[(df["tonnage_stddev"] > df["tonnage"]/5.)]#['length']=np.nan

,mmsi,shiptype,length,tonnage,length_stddev,tonnage_stddev,number_shiptypes
3,224654000,Drifting_longlines,40.500000,434.223333,0.000000,89.719106,1
30,224135000,Drifting_longlines,31.850000,218.000000,2.910428,69.850260,1
42,412460299,Drifting_longlines,49.990000,514.000000,0.000000,105.736851,1
45,440733000,Drifting_longlines,47.210000,434.000000,0.000000,87.287156,1
63,440731000,Drifting_longlines,47.210000,429.750000,0.000000,86.850720,1
67,224623000,Drifting_longlines,55.000000,895.086667,0.000000,232.832348,1
93,306034000,Purse_seines,101.001429,2975.474286,7.780000,1898.698503,1
123,224047990,Drifting_longlines,29.900000,247.898000,3.815292,82.434840,1
129,440552000,Purse_seines,65.587500,1145.750000,3.070279,353.422591,1
136,503042740,Drifting_longlines,22.900000,96.666667,0.000000,24.019223,1
162,366355000,Pole_and_line|Trollers,20.845000,109.000000,0.005774,36.950417,2
167,256000655,Unknown,27.975000,210.040000,4.763140,80.875226,1
176,263407690,Drifting_longlines,29.000000,234.000000,0.000000,81.000000,1
177,224069690,Drifting_longlines|Unknown,34.200000,297.666667,0.000000,68.462452,2
240,224017000,Drifting_longlines,43.500000,465.528000,0.000000,172.734688,1
244,316006888,Trollers|Unknown,14.320000,22.480000,0.000000,13.255962,2
247,440987000,Drifting_longlines,47.210000,429.750000,0.000000,86.850720,1
257,412370007,Drifting_longlines,49.950000,520.500000,0.000000,113.668448,1
268,441853000,Purse_seines,75.160000,1594.500000,4.703798,620.580604,1
271,227926000,Set_gillnets,26.090000,159.525000,0.000000,34.717235,1
281,263575000,Trawlers,29.125000,182.000000,4.705405,55.425626,1
293,224186000,Drifting_longlines,31.533333,206.666667,0.048038,81.665358,1
343,224119000,Trawlers|Drifting_longlines,38.733333,272.333333,0.098507,89.148948,2
351,888802000,Purse_seines,96.870000,3117.660000,7.943004,639.652366,1
355,431067000,Drifting_longlines,49.200000,452.000000,0.000000,90.571661,1
358,224015550,Drifting_longlines,37.500000,320.600000,0.000000,111.162479,1
361,432899000,Research|Drifting_longlines,61.460000,774.000000,0.000000,160.356745,2
455,431702130,Drifting_longlines,31.500000,171.000000,0.000000,60.044428,1
457,440778000,Drifting_longlines|Unknown,48.437500,424.250000,0.022120,100.620476,2
483,224045260,Drifting_longlines,27.000000,129.526667,0.000000,43.993609,1
...,...,...,...,...,...,...,...
3521,440462000,Purse_seines,65.145000,721.500000,2.528291,199.376886,1
3532,224415000,Drifting_longlines,43.500000,542.822500,0.000000,134.732090,1
3533,503003170,Drifting_longlines,22.800000,61.666667,0.000000,17.500000,1
3578,224154000,Drifting_longlines,46.450000,479.193333,0.000000,144.208945,1
3618,441644000,Drifting_longlines,49.092000,418.400000,0.004016,116.906704,1
3646,440045000,Drifting_longlines,47.210000,429.750000,0.000000,86.850720,1
3654,224385000,Drifting_longlines,34.200000,259.550000,0.000000,95.908758,1
3657,224302003,Drifting_longlines,34.862500,337.750000,6.742933,206.258122,1
3662,224067930,Drifting_longlines,27.500000,134.666667,0.000000,45.636524,1
3666,431702040,Drifting_longlines,31.500000,171.000000,0.000000,60.044428,1
3677,440298000,Drifting_longlines,54.527500,441.000000,2.692809,115.847738,1
3680,224069130,Drifting_longlines|Unknown,33.000000,202.000000,0.000000,70.925130,2
3726,224142870,Drifting_longlines,28.000000,169.550000,0.000000,40.937676,1
3742,224544160,Drifting_longlines,28.600000,221.532500,0.000000,46.205456,1
3744,431700190,Drifting_longlines,32.560000,166.000000,0.000000,36.181361,1
3749,228311000,Trawlers,24.400000,152.125000,0.000000,31.937718,1
3755,440154000,Drifting_longlines,49.105000,531.833333,0.095443,120.919491,1
3793,529417000,Purse_seines,72.455000,1167.500000,4.162695,537.513101,1
3797,367161930,Trollers,15.145000,222.500000,0.005345,163.029358,1
3838,441483000,Drifting_longlines,47.510000,467.400000,0.000000,98.865745,1
3839,224892000,Drifting_longlines,30.025000,185.100000,1.181506,45.590817,1
3847,440594000,Drifting_longlines,47.210000,407.250000,0.000000,106.584194,1
3857,316012074,Trollers,12.650000,24.525000,0.000000,16.772025,1
3934,224113270,Drifting_longlines,24.700000,110.906667,0.000000,54.629321,1
3952,224651000,Purse_seines,80.260000,1939.410000,5.534029,398.950168,1
3962,441536000,Drifting_longlines,47.540000,454.400000,1.187298,94.837722,1
4048,224132000,Drifting_longlines,30.000000,233.650000,0.000000,49.491818,1
4061,432187000,Research,85.500000,2638.500000,0.000000,804.456338,1
4088,431701670,Drifting_longlines,31.600000,172.000000,0.000000,61.199129,1
4102,503337100,Drifting_longlines,21.720000,60.000000,1.440662,14.552138,1

In [43]:
df.loc[(df["tonnage_stddev"] > df["tonnage"]/5),'tonnage']=np.nan

In [44]:
df.head()

,mmsi,shiptype,length,tonnage,length_stddev,tonnage_stddev,number_shiptypes
0,338793000,Purse_seines,63.12,1446.50,0.0,75.367670,1
1,416002947,Drifting_longlines,29.70,98.00,0.0,0.000000,1
2,416000961,Drifting_longlines,23.20,61.23,NaN,NaN,1
3,224654000,Drifting_longlines,40.50,NaN,0.0,89.719106,1
4,412371206,Drifting_longlines,43.20,560.00,0.0,0.000000,1

In [45]:
df.to_csv("input_lists/clav_v10_processed.csv")