In [436]:
# List Organization
# for metadata on the lists we are inspecting, see 
# https://docs.google.com/spreadsheets/d/1YkZaLIodS5V-UjOgmTHpTr0JmCrPoDkX3BfHNvchEqk/edit#gid=0

In [95]:
import csv
import pandas as pd
import numpy as np
headers = {}
label_mappings = {}
counts = {}
import json

In [183]:
def save_file(filename):
    js = {
        'mappings': label_mappings[filename],
        'counts': counts[filename],
        'headers': headers[filename] 
    }

    js_towrite = json.dumps(js)
    with open('input_lists/'+filename+'.json','w') as f:
        f.write(js_towrite)

def get_counts(label_header,filename,df):
    c={}
    for a in df.groupby(label_header).indices:
        c[a]= len(df.groupby(label_header).indices[a])
    return c

In [184]:
Labels = '''Trawlers
Purse_seines
Drifting_longlines
Fixed_gear
Set_gillnets
Pots_and_traps
Set_longlines
longline - don't know if set or longline
Squid_jigger
Pole_and_line
Troller
other_fishing
unknown_fishing
Reefer
Cargo_Tanker
Tanker
Cargo
Passenger
Sailing
Seismic_vessel
Tug_Pilot
Tug
Pilot
other_not_fishing
unknown_but_not_fishing
no_idea_what_it_is
unkown'''.split("\n")

In [213]:
filename = 'AlexWManualNonFishing'
df = pd.read_csv("input_lists/"+filename+".csv")

In [214]:
df.head()

        mmsi      label
0  203310200  Passenger
1  205269190  Passenger
2  205596910  Passenger
3  211123610  Passenger
4  211149170  Passenger

In [215]:
headers[filename] = { 'mmsi':'mmsi',
                                    'label':'label',
                                    'tonnage':None, 
                                    'length':None, 
                                    'engine power': None}

In [216]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Cargo': 10,
 'Dredger': 1,
 'Longliner': 3,
 'Passenger': 142,
 'Tanker': 20,
 'Trawler': 1,
 'Tug': 40}

In [217]:
label_mappings[filename] = {
    'Cargo':'Cargo',
    'Dredger': 'other_not_fishing',
    'Longliner': "Drifting_longlines|Set_longlines",
    'Tanker': 'Tanker',
    'Trawler':'Trawlers',
    'Tug':'Tug'
}

In [218]:
save_file(filename)

In [212]:
filename = 'KnownVesselCargoTanker'
df = pd.read_csv('input_lists/'+filename+'.csv')

In [192]:
df.head()

        mmsi  label
0  111111110  Cargo
1  204708000  Cargo
2  205256290  Cargo
3  205258890  Cargo
4  205263390  Cargo

In [193]:
headers[filename] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage':None, 
                                'length':None, 
                                'engine power': None}

In [194]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Cargo': 1128, 'Tanker': 1156}

In [195]:
label_mappings[filename] = {'Cargo':'Cargo','Tanker':'Tanker'}

In [196]:
save_file(filename)

In [197]:
filename = 'KristinaManualClassification'

In [198]:
df = pd.read_csv('input_lists/'+filename+".csv")
df.head()

        mmsi        label detail
0   10421670  Purse seine    NaN
1  123450020  Purse seine    NaN
2  123450800  Purse seine    NaN
3  203226200    Passenger   sail
4  203745200    Passenger  yacht

In [199]:
headers[filename] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage':None, 
                                'length':None, 
                                'engine power': None}

In [200]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Cargo': 1027,
 'Dredger': 2,
 'Longliner': 89,
 'Passenger': 171,
 'Purse seine': 105,
 'Tanker': 303,
 'Trawler': 268,
 'Tug': 61,
 'Unclassified': 145}

In [175]:
label_mappings[filename] = {
    'Cargo':'Cargo',
    'Dredger': 'other_not_fishing',
    'Longliner': "Drifting_longlines|Set_longlines",
    'Passenger': 'Passenger',
    'Purse seine':'Purse_seines',
    'Tanker':'Tanker',
    'Trawler':'Trawlers',
    'Tug':'Tug',
    'Unclassified':None
}

In [176]:
save_file(filename)

In [116]:
filename='PyBossaNonFishing'

In [117]:
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

        mmsi label
0  205203390   Tug
1  205252690   Tug
2  205264290   Tug
3  205273990   Tug
4  205360090   Tug

In [118]:
headers['PyBossaNonFishing'] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage':None, 
                                'length':None, 
                                'engine power': None}

In [119]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Tug': 153}

In [120]:
label_mappings['PyBossaNonFishing'] = {
    'Tug':'Tug'}

In [121]:
save_file(filename)

In [122]:
filename = 'clav_v10_processed'
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

,Unnamed: 0,mmsi,shiptype,length,tonnage,length_stddev,tonnage_stddev,number_shiptypes
0,0,338793000,Purse_seines,63.12,1446.50,0.0,75.367670,1
1,1,416002947,Drifting_longlines,29.70,98.00,0.0,0.000000,1
2,2,416000961,Drifting_longlines,23.20,61.23,NaN,NaN,1
3,3,224654000,Drifting_longlines,40.50,NaN,0.0,89.719106,1
4,4,412371206,Drifting_longlines,43.20,560.00,0.0,0.000000,1

In [123]:
headers['clav_v10_processed'] = { 'mmsi':'mmsi',
                                'label':'shiptype',
                                'tonnage':'tonnage', 
                                'length':'length', 
                                'engine power': None}

In [124]:
counts[filename] = get_counts('shiptype',filename,df)
counts[filename]

{'Bunker': 48,
 'Bunker|Reefer': 1,
 'Bunker|Reefer|Unknown': 1,
 'Drifting_longlines': 1786,
 'Drifting_longlines|Pole_and_line': 6,
 'Drifting_longlines|Pole_and_line|Recreational_fishing': 1,
 'Drifting_longlines|Purse_seines': 4,
 'Drifting_longlines|Recreational_fishing': 1,
 'Drifting_longlines|Reefer': 10,
 'Drifting_longlines|Research': 10,
 'Drifting_longlines|Set_gillnets': 1,
 'Drifting_longlines|Trollers': 1,
 'Drifting_longlines|Unknown': 9,
 'Handliners': 9,
 'Handliners|Pole_and_line': 1,
 'Pole_and_line': 206,
 'Pole_and_line|Drifting_longlines': 5,
 'Pole_and_line|Trollers': 2,
 'Pole_and_line|Unknown': 1,
 'Purse_seines': 635,
 'Purse_seines|Drifting_longlines': 1,
 'Purse_seines|Recreational_fishing': 1,
 'Purse_seines|Trollers': 1,
 'Purse_seines|Unknown': 5,
 'Recreational_fishing': 138,
 'Recreational_fishing|Drifting_longlines': 1,
 'Recreational_fishing|Pole_and_line': 2,
 'Recreational_fishing|Purse_seines': 1,
 'Recreational_fishing|Reefer': 2,
 'Recreational_fishing|Trollers': 3,
 'Reefer': 242,
 'Reefer|Drifting_longlines': 9,
 'Reefer|Pole_and_line': 1,
 'Reefer|Recreational_fishing': 3,
 'Reefer|Unknown': 1,
 'Research': 19,
 'Research|Drifting_longlines': 8,
 'Set_gillnets': 24,
 'Set_gillnets|Drifting_longlines': 3,
 'Trawlers': 451,
 'Trawlers|Drifting_longlines': 2,
 'Trollers': 72,
 'Trollers|Pole_and_line': 1,
 'Trollers|Recreational_fishing': 3,
 'Trollers|Unknown': 11,
 'Unknown': 370,
 'Unknown|Bunker': 1,
 'Unknown|Drifting_longlines': 4,
 'Unknown|Purse_seines': 3,
 'Unknown|Purse_seines|Trollers': 1,
 'Unknown|Reefer': 3,
 'Unknown|Reefer|Bunker': 1,
 'Unknown|Trollers': 11}

In [125]:
label_mappings[filename] = None # None means that we will use the values from the original list

In [126]:
save_file(filename)

In [127]:
filename = 'rivervessels_20160502'
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

        mmsi             label
0  514210000         not_known
1  100000000  multiple_vessles
2  100900012       not_fishing
3    1193046          bad_data
4  123456789          bad_data

In [128]:
headers[filename] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage': None, 
                                'length': None, 
                                'engine power': None}

In [129]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Supply': 1,
 'bad_data': 9,
 'cargo': 104,
 'multiple_vessles': 1,
 'not_fishing': 11,
 'not_known': 16,
 'passenger': 7,
 'tanker': 3}

In [130]:
label_mappings[filename] = {
    'cargo':'Cargo',
    'not_fishing':'not_fishing',
    'passenger':'Passenger',
    'tanker':'Tanker'
}

In [131]:
save_file(filename)

In [132]:
filename = 'eu_processed'
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

,Unnamed: 0,mmsi,label,length,tonnage,power,geartype,secondary_geartype
0,0,247306520,Trawlers|Purse_seines,18.20,32.0,199.0,OTB,PS
1,1,247070960,Trawlers,23.02,122.0,478.0,OTB,PTM
2,2,250000887,Trawlers,50.70,1094.0,2500.0,PTM,OTM
3,3,219001588,other_fishing|Set_gillnets,18.50,57.2,221.0,SDN,GNS
4,4,247050110,Trawlers,17.80,31.0,128.7,OTB,PTM

In [133]:
headers[filename] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage': 'tonnage', 
                                'length': 'length', 
                                'engine power': 'power'}

In [134]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Drifting_longlines': 155,
 'Drifting_longlines|Pots_and_traps': 2,
 'Drifting_longlines|Purse_seines': 2,
 'Drifting_longlines|Set_gillnets': 15,
 'Drifting_longlines|Set_longlines': 30,
 'Drifting_longlines|Trawlers': 2,
 'Pole_and_line': 20,
 'Pole_and_line|Drifting_longlines': 5,
 'Pole_and_line|Pots_and_traps': 1,
 'Pole_and_line|Set_gillnets': 2,
 'Pole_and_line|Set_longlines': 14,
 'Pole_and_line|Trawlers': 1,
 'Pole_and_line|other_fishing': 5,
 'Pots_and_traps': 68,
 'Pots_and_traps|Drifting_longlines': 1,
 'Pots_and_traps|Pole_and_line': 2,
 'Pots_and_traps|Purse_seines': 2,
 'Pots_and_traps|Set_gillnets': 37,
 'Pots_and_traps|Set_longlines': 4,
 'Pots_and_traps|Trawlers': 7,
 'Pots_and_traps|Trollers': 1,
 'Pots_and_traps|other_fishing': 11,
 'Pots_and_traps|unknown_fishing': 8,
 'Purse_seines': 536,
 'Purse_seines|Drifting_longlines': 4,
 'Purse_seines|Pole_and_line': 4,
 'Purse_seines|Pots_and_traps': 1,
 'Purse_seines|Set_gillnets': 78,
 'Purse_seines|Set_longlines': 91,
 'Purse_seines|Trawlers': 55,
 'Purse_seines|Trollers': 2,
 'Purse_seines|other_fishing': 4,
 'Set_gillnets': 361,
 'Set_gillnets|Drifting_longlines': 20,
 'Set_gillnets|Pole_and_line': 22,
 'Set_gillnets|Pots_and_traps': 44,
 'Set_gillnets|Purse_seines': 4,
 'Set_gillnets|Set_longlines': 70,
 'Set_gillnets|Trawlers': 53,
 'Set_gillnets|Trollers': 8,
 'Set_gillnets|other_fishing': 11,
 'Set_longlines': 77,
 'Set_longlines|Drifting_longlines': 25,
 'Set_longlines|Pole_and_line': 3,
 'Set_longlines|Pots_and_traps': 25,
 'Set_longlines|Purse_seines': 3,
 'Set_longlines|Set_gillnets': 82,
 'Set_longlines|Trawlers': 3,
 'Set_longlines|other_fishing': 17,
 'Trawlers': 3545,
 'Trawlers|Drifting_longlines': 16,
 'Trawlers|Pole_and_line': 11,
 'Trawlers|Pots_and_traps': 26,
 'Trawlers|Purse_seines': 306,
 'Trawlers|Set_gillnets': 214,
 'Trawlers|Set_longlines': 199,
 'Trawlers|Trollers': 1,
 'Trawlers|other_fishing': 31,
 'Trawlers|unknown_fishing': 3,
 'Trollers': 1,
 'Trollers|Pots_and_traps': 3,
 'Trollers|other_fishing': 3,
 'other_fishing': 35,
 'other_fishing|Pots_and_traps': 4,
 'other_fishing|Purse_seines': 2,
 'other_fishing|Set_gillnets': 10,
 'other_fishing|Trawlers': 28,
 'other_fishing|Trollers': 2}

In [135]:
label_mappings[filename] = None

In [136]:
save_file(filename)

In [201]:

filename = 'itu_2016_processed'
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

,Unnamed: 0,mmsi,shipname,callsign,itu_General_classification,itu_Individual_classification,national_id,tonnage,itu_Capacity_of_persons_on_board,label
0,0,319058400,VALYRA,ZGCQ8,Pleasure / Leisure,Yacht,743779,63,12,Motor_passenger
1,1,319058500,TRIPLESEVEN,ZGDO7,Pleasure / Leisure,Yacht,739145,1385,26,Motor_passenger
2,2,319058600,AMOIXA,ZGDO6,Pleasure / Leisure,Yacht,739106,498,22,Motor_passenger
3,3,319058800,NORDICGRACE,ZGDM8,Merchant,Tanker,745168,84598,32,Tanker
4,4,319058900,SCOUT,ZGDP4,Pleasure / Leisure,Yacht,744433,496,24,Motor_passenger

In [202]:
headers[filename] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage': 'tonnage', 
                                'length': None, 
                                'engine power': None}

In [203]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Cargo': 17250,
 'Cargo|Passenger': 575,
 'Cargo|Tanker': 53,
 'Fishing': 4197,
 'Motor passenger': 912,
 'Motor_passenger': 7306,
 'None': 9044,
 'Passenger': 2684,
 'Pots_and_traps': 1,
 'Reefer': 326,
 'Sailing': 4560,
 'Tanker': 7408,
 'Trawler': 958,
 'Tug': 6213,
 'not_fishing': 5972}

In [204]:
label_mappings[filename] = None

In [205]:
save_file(filename)

In [142]:

filename = 'PeruvianSquidFleet'
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

        mmsi          label
0  412420405  Squid fishing
1  412420974  Squid fishing
2  412673260  Squid fishing
3  412420681  Squid fishing
4  412420798  Squid fishing

In [143]:
headers[filename] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage': None, 
                                'length': None, 
                                'engine power': None}

In [144]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Squid fishing': 104}

In [145]:
label_mappings[filename] = {'Squid fishing':'Squid_jigger'}

In [146]:
save_file(filename)

In [147]:
filename = "WorldwideSeismicVesselDatabase4Dec15"
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

,MMSI #,Label,Owner,Vessel Name,Vessel length (m),IMO registration #,Call Sign,2013,2014,2015,2014 Location Log,2015 Location Log,Other Notes,"columns G, H, I are for Listed in Offshore Magazine Vessel Survey?"
0,209108000,Seismic vessel,Dolpin Geophysical,Polar Duchess,106.8,9378216,5BJC3,N,N,Y,"January: Australia, New Zealand\nAugust: South...",February: Western Europe\nApril: Northern Euro...,NaN,NaN
1,209587000,Seismic vessel,Sea Bird Exploration,Hugin Explorer,86,9366005,5BEA2,N,Y,N,April: North America East Coast\nMay: Western ...,January: South America East Coast\nSeptember: ...,NaN,NaN
2,210228000,Seismic vessel,Sea Bird Exploration,Munin Explorer,60,8915782,C4XX2,Y,Y,Y,May: Western Europe,"January: South America East Coast, West Africa...",NaN,NaN
3,210582000,Seismic vessel,Dolpin Geophysical,Polar Duke,106.8,9378204,5BJL2,N,N,Y,"May: Mediterranean Sea, Western Europe\nJuly: ...","January: Australia, New Zealand\nMay: Mediterr...",VesselTracker lists length as 104m,NaN
4,212338000,Seismic vessel,Sea Bird Exploration,Kondor Explorer,63.5,8201363,P3LE7,N,Y,N,n/a,n/a,Equasis indicates this vessel has been laid up...,NaN

In [148]:
headers[filename] = { 'mmsi':'MMSI #',
                                'label':'Label',
                                'tonnage': None, 
                                'length': 'Vessel length (m)', 
                                'engine power': None}

In [149]:
counts[filename] = get_counts('Label',filename,df)
counts[filename]

{'Seismic vessel': 169}

In [150]:
label_mappings[filename] = {'Seismic vessel':'Seismic_vessel'}

In [151]:
save_file(filename)

In [225]:
filename = 'verify5and24_20160502'
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

   task id       mmsi  label
0     2031  244690101  cargo
1     2572  211512210  cargo
2     2587  211668930  cargo
3     2608  244660859  cargo
4     2609  258222000  cargo

In [226]:
headers[filename] = { 'mmsi':'mmsi',
                                'label':'label',
                                'tonnage': None, 
                                'length': None, 
                                'engine power': None}

In [227]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Diving_ops': 80,
 'Dredging_or_underwater_ops': 112,
 'Law_enforcement': 133,
 'Medical_transport': 15,
 'Military_ops': 168,
 'OffShore Support vessel': 8,
 'Passenger': 193,
 'Passenger and Cargo': 4,
 'Passenger/ferry': 1,
 'Patrol vessel': 3,
 'Pleasure_craft': 129,
 'Port_tender': 86,
 'Research Vessel': 5,
 'Sailing': 148,
 'Salvage/rescue vessel': 1,
 'Search_and_Rescue': 164,
 'Support vessel': 6,
 'Tanker': 153,
 'Trawler': 1,
 'Tug': 175,
 'cargo': 26,
 'helicopter': 3,
 'passenger/ferry': 16,
 'sailing': 1,
 'service vessel': 1,
 'supply vessel': 67,
 'tanker': 6}

In [228]:
label_mappings[filename] = {'Diving_ops': 'not_fishing',
 'Dredging_or_underwater_ops': 'not_fishing',
 'Law_enforcement': 'not_fishing',
 'Medical_transport': 'not_fishing',
 'Military_ops': 'not_fishing',
 'OffShore Support vessel': 'not_fishing',
 'Passenger': 'Passenger',
 'Passenger and Cargo': 'Passenger|Cargo',
 'Passenger/ferry':'Passenger',
 'Patrol vessel': 'not_fishing',
 'Pleasure_craft': 'not_fishing',
 'Port_tender': 'not_fishing',
 'Research Vessel': 'unknown',
 'Sailing': 'Sailing',
 'Salvage/rescue vessel': 'not_fishing',
 'Search_and_Rescue': 'not_fishing',
 'Support vessel': 'not_fishing',
 'Tanker': 'Tanker',
 'Trawler': 'Trawlers',
 'Tug': 'Tug',
 'cargo': 'Cargo',
 'helicopter': 'not_fishing',
 'passenger/ferry': 'Passenger',
 'sailing': 'Sailing',
 'service vessel': 'not_fishing',
 'supply vessel': 'not_fishing',
 'tanker': 'Tanker'}

In [229]:
save_file(filename)

In [177]:
filename = 'double_geartype_override'

In [178]:
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

,mmsi,newlabel,link,primary geartyp,secondary geartype,Vaida's Best Guess,David's Best Guess,Kristina's Best Guess
0,204206740,Pole and line,http://crowd.globalfishingwatch.org/project/id...,Pole and line,Drifting longlines,pole and line,Pole and line,NaN
1,204206740,Pole and line,http://crowd.globalfishingwatch.org/project/id...,Pole and line,Drifting longlines,pole and line,Pole and line,NaN
2,204209570,Pole and line,http://crowd.globalfishingwatch.org/project/id...,Pole and line,Fishing vessel,pole and line,Pole and line,NaN
3,204209570,Pole and line,http://crowd.globalfishingwatch.org/project/id...,Pole and line,Fishing vessel,pole and line,Pole and line,NaN
4,204209890,Pole and line,http://crowd.globalfishingwatch.org/project/id...,Set longlines,Pole and line,pole and line,Pole and line,NaN

In [179]:
headers[filename] = { 'mmsi':'mmsi',
                    'label':'newlabel',
                    'tonnage': None, 
                    'length': None, 
                    'engine power': None
                    }

In [180]:
counts[filename] = get_counts('newlabel',filename,df)
counts[filename]

{'Drifting longlines': 2,
 'IGNORE': 6,
 'Pole and line': 12,
 'Pots and traps': 16,
 'Purse seines': 14,
 'Set gillnets': 6,
 'Set longlines': 10,
 'Trawlers': 29,
 'Trollers': 4}

In [181]:
label_mappings[filename] = {'Drifting longlines': 'Drifting_longlines',
 'IGNORE': "unknown_fishing",
 'Pole and line': "Pole_and_line",
 'Pots and traps': "Pots_and_traps",
 'Purse seines': "Purse_seines",
 'Set gillnets': "Set_gillnets",
 'Set longlines': "Set_longlines",
 'Trawlers': "Trawlers",
 'Trollers': "Trollers"}

In [182]:
save_file(filename)

In [163]:
filename = 'reefers'
df = pd.read_csv('input_lists/'+filename+'.csv')
df.head()

   Unnamed: 0       mmsi   label  length  tonnage
0           0  664090000  Reefer   93.78   2600.0
1           1  636017468  Reefer   94.65   3496.0
2           2  273385860  Reefer  102.80   4109.0
3           3  357020000  Reefer  100.98   4361.0
4           4  529606000  Reefer   84.60   2429.0

In [164]:
headers[filename] = { 'mmsi':'mmsi',
                    'label':'label',
                    'tonnage': 'tonnage', 
                    'length': 'length', 
                    'engine power': None
                    }

In [165]:
counts[filename] = get_counts('label',filename,df)
counts[filename]

{'Reefer': 1130}

In [166]:
label_mappings[filename] = None
save_file(filename)

In [167]:
js = {
    'mappings': label_mappings,
    'counts': counts,
    'headers': headers,
}

js_towrite = json.dumps(js)
with open('input_lists/allfiles.json','w') as f:
    f.write(js_towrite)