In [1]:
import pandas as pd
import csv
import pandas.io.gbq as bq

In [2]:
# first find the geartypes
nor = pd.DataFrame.from_csv('from_bigquery/Norway_2016_clean.csv')

In [3]:
# ffa = ffa.set_index('mmsi')
nor.head()

              shipname callsign  length  width  power  tonnage
mmsi
257000202        DUCK3      NaN     NaN    NaN    NaN      NaN
257000410  MS PER IVAR   LM8718   10.22   3.25  114.0     11.0
257000430        NYHAV     3YTR   12.88   3.80  131.0     12.0
257000700     EBENEZER   LF5171   10.63   3.58  340.0      NaN
257000810     KAROLINE  LG 3129     NaN    NaN    NaN      NaN

In [4]:
nor = nor.rename(columns = {'power':'power_hp'})

In [5]:
# 1 ps = 0.735499 kw 
# 1 hp = 0.7457 kw

def calc_kw(a):
    try:
        c = .75
        return float(a)*c
    except:
        return None


nor['power'] = nor.apply(lambda row: calc_kw(row['power_hp']), axis=1)

In [6]:
nor.head()

              shipname callsign  length  width  power_hp  tonnage   power
mmsi
257000202        DUCK3      NaN     NaN    NaN       NaN      NaN     NaN
257000410  MS PER IVAR   LM8718   10.22   3.25     114.0     11.0   85.50
257000430        NYHAV     3YTR   12.88   3.80     131.0     12.0   98.25
257000700     EBENEZER   LF5171   10.63   3.58     340.0      NaN  255.00
257000810     KAROLINE  LG 3129     NaN    NaN       NaN      NaN     NaN

In [7]:
nor.to_csv('input_lists/norway.csv')