In [1]:
import pandas as pd

In [4]:
q = '''
SELECT
  mmsi,
  nn_average_length,
  nn_max_label,
  nn_max_score,
  shipname,
  num_shipnames,
  imo,
  callsign,
  num_callsign,
  average_length
FROM
  [scratch_david_mmsi_lists.2016_fishing_vessel_info]
WHERE
  iso3 = "USA"
'''
df = pd.io.gbq.read_gbq(q, project_id='world-fishing-827')

Requesting query... ok.
Query running...
Query done.
Cache hit.

Retrieving results...
Got 2536 rows.

Total time taken 1.43 s.
Finished at 2017-01-04 11:33:03.

In [60]:
headers = '''Vessel ID	AN	          10	     1   -      10	
Vessel Name	AN	50	11	-	60
Call Sign	AN	8	61	-	68
Official Number	AN	10	69	-	78
IMO Number	AN	30	79	-	108
Hull Number	AN	30	109	-	138
Hull Identification Number	AN	30	139	-	168
Vessel Service	CH	30	169	-	198
Flag	CH	2	199	-	200
Self Propelled Indicator	Logical	1	201	-	201 
Registered Gross Tons	DS	7	202	-	208
Registered Net Tons	DS	7	209	-	215
Registered Length	DS	7	216	-	222
Registered Breadth	DS	6	223	-	228
Registered Depth	DS	6	229	-	234
ITC Gross Tons	DS	7	235	-	241
ITC Net Tons	DS	7	242	-	248
ITC Length	DS	7	249	-	255
ITC Breadth	DS	6	256	-	261
ITC Depth	DS	6	262	-	267
***Dead Weight Tons	DS	7	268	-	274
***Dead Weight Tons Measure Unit	CH	40	275   -	314
Measuring Organization Name	CH	50	315	-	364
Hailing Port	CH	50	365	-	414
Hailing Port State	CH	2	415	-	416	
Hailing Port Country	CH	50	417	-	466
Coastwise Unrestricted	CM	1	467	-	467
Limited Coastwise Bowaters Only	CM	1	468	-	468
Limited Coastwise Restricted MARAD Waiver	CM	1	469	-	469
 Limited Coastwise Oil Spill Response Only	CM	1	470 	-	470
Limited Coastwise Under Charter to Citizen	CM	1	471	-	471
Limited Coastwise Trade Fish Products Only	CM	1	472	-	472
Fishery	CM	1	473	-	473
Fishery Only	CM	1	474	-	474
Recreation	CM	1	475	-	475
Limited Recreation Great Lakes Use Only	CM	1	476	-	476
Registry	CM	1	477	-	477
Limited Registry Cross Border Financing	CM	1	478	-	478
Limited Registry No Foreign Voyage by Sea	CM	1	479	-	479
Limited Registry Trade with Canada Only	CM	1	480	-	   480
Great Lakes	CM	1	481	-	481
Builder	CH	80	 482	-	 561
Shipyard 	CH	50           562 	-    611
Build Year	CH	4	612	-	615
Vessel Complete Build City	CH	50	616	-	665
Vessel Complete Build State	CH	2	666	-	667
Vessel Complete Build Province	CH	50	668	-	717
Vessel Complete Build Country	CH	64	718	-	781
Vessel Hull Build City	CH	50	782	-	831
Vessel Hull Build State	CH	2	832	-	833
Vessel Hull Build Province	CH	50	834	-	883
Vessel Hull Build Country	CH	64	884	-	947
Party ID	AN	10	948	- 	957
Organization Name	CH	80	958	-	1037
Organization Type	CH	30	1038  -	1067
Person First Name	CH	30	1068   -	1097
Person Middle Name	CH	50	1098   -	1147
Person Last Name	CH	50	1148   -	1197
Person Name Suffix	CH 	10	1198	-	1207
Address Line 1	CH	255	1208	-	1462
Address Line 2	CH	255	1463	-	1717
Address Line 3	CH	255	1718	-	1972
Address Line 4	CH	255	1973	-	2227
City	CH	30	2228	-	2257
State	CH	2	2258	- 	2259
Province	CH	30	2260	-	2289
Country	CH	64	2290	-	2353
Postal Code	CH	30	2354	-	2383
Main HP Ahead	 IS	7	2384	-	2390
Main HP Astern	 IS	7	2391 	-	2397
Propulsion Type	CH	30	2398	 -	2427
Hull Material	CH	30	2428	-	2457
Hull Configuration	CH	30	2458	-	2487
Hull Shape	CH	30	2488	-	2517
COD Status	CH	30	2518	-	2547
COD issue date	CH	10	2548	-	2557
COD expire date	CH	10	2558	-	2567
Filler	CH	1	2568	-	2568'''.split("\n")

for i in range(len(headers)):
    headers[i] = headers[i].split("\t")[0]

In [61]:
df_all = pd.read_csv('data/VesDocDec16tab.txt',sep='\t',header=0, names=headers, na_filter=False,error_bad_lines=False)

Skipping line 45738: expected 78 fields, saw 79

Skipping line 144888: expected 78 fields, saw 79

Skipping line 190597: expected 78 fields, saw 79

Skipping line 208464: expected 78 fields, saw 79

Skipping line 252491: expected 78 fields, saw 79

Skipping line 342041: expected 78 fields, saw 79

In [63]:
headers[74]

'COD Status'

In [66]:

df_fishing = df_all.loc[df_all['Vessel Service'].isin(['Commercial Fishing Vessel','Fish Processing Vessel'])]

In [69]:
df_fishing_valid = df_fishing.loc[df_fishing['COD Status'] == "Valid"].rename(columns={'Call Sign': 'callsign'})

In [73]:
df_fishing_valid.head()

,Vessel ID,Vessel Name,callsign,Official Number,IMO Number,Hull Number,Hull Identification Number,Vessel Service,Flag,Self Propelled Indicator,...,Main HP Ahead,Main HP Astern,Propulsion Type,Hull Material,Hull Configuration,Hull Shape,COD Status,COD issue date,COD expire date,Filler
7,1231227,LEHUA,,1246324,,,,Commercial Fishing Vessel,US,1,...,,,UNSPECIFIED,Wood,Monohull,Ship,Valid,02/27/2016,03/31/2017,
45,1231341,RUSH-ON,,1246362,,1TM320113,,Commercial Fishing Vessel,US,1,...,,,UNSPECIFIED,Aluminum,Monohull,Ship,Valid,04/23/2016,05/31/2017,
60,1231410,LOGOS,,1246376,,EKJ95034I411,,Commercial Fishing Vessel,US,1,...,,,Jet Drive,Aluminum,Monohull,Ship,Valid,03/07/2016,02/28/2017,
61,1231412,ENDURANCE,,1246378,,,,Commercial Fishing Vessel,US,1,...,,,UNSPECIFIED,FRP (Fiberglass),Monohull,Ship,Valid,03/24/2016,04/30/2017,
75,1231483,ISLE DOMINATOR,,1246391,,,,Commercial Fishing Vessel,US,1,...,479,479,Diesel Reduction,Steel,Monohull,Ship,Valid,01/06/2016,01/31/2017,

In [71]:
df.head()

,mmsi,nn_average_length,nn_max_label,nn_max_score,shipname,num_shipnames,imo,callsign,num_callsign,average_length
0,303114000,NaN,None,NaN,EDWARD G,1.0,NaN,WTC4737,1,NaN
1,303137000,87.203644,Purse_seines,0.999994,C.VINCENT GANN,1.0,9018880.0,WDG2517,1,80.000000
2,303159000,40.189823,Trawlers,0.985090,ARCTURUS,2.0,8315724.0,WAP2210,1,39.229344
3,303174000,NaN,None,NaN,GAIL ANN,1.0,NaN,WAK2110,1,28.000000
4,303221000,35.573143,Trawlers,0.784916,ARCTIC SEA,2.0,7819216.0,WDG5171,2,45.005096

In [93]:
# result = pd.concat([df,df_fishing_valid], axis=1, join='inner', 
#           copy=True)

result = df.join(df_fishing_valid, on="callsign", how='inner', lsuffix='_l', rsuffix='_r')

In [102]:
calls_ais = list(df['callsign'])


calls_r = list(df_fishing_valid['callsign'])

matches = []
for c in calls_ais:
    if c != "" and c!= "NONE" and c!= "NA" and c in calls_r:
        matches.append(c)
len(matches)

1109

In [111]:
result = pd.merge(df, df_fishing_valid.loc[df_fishing_valid['callsign'] != ""], on='callsign', how='left')

In [121]:
result[['Vessel ID','mmsi','shipname','Vessel Name','callsign','average_length','Registered Length']].head()

,Vessel ID,mmsi,shipname,Vessel Name,callsign,average_length,Registered Length
0,301012.0,303114000,EDWARD G,EDWARD G,WTC4737,NaN,77.9
1,336738.0,303137000,C.VINCENT GANN,CAPT. VINCENT GANN,WDG2517,80.000000,225.8
2,214222.0,303159000,ARCTURUS,ARCTURUS,WAP2210,39.229344,119.0
3,317670.0,303174000,GAIL ANN,GAIL ANN,WAK2110,28.000000,92.7
4,NaN,303221000,ARCTIC SEA,NaN,WDG5171,45.005096,NaN

In [120]:
result.to_csv("matches.csv")

In [169]:
import roman

def normalize_shipname(n):
    
    n = str(n)
    if n == None:
        return ""
    
    # Get rid of roman numerals
    n = n.replace("  "," ")
    n = n.replace("  "," ")
    n = n.replace("  "," ")
    n = n.replace("  "," ") # get rid of extra spaces
    n = n.upper()
    # if the vessel starts with "no. or no53"
    if n[0:3]=="NO.":
        n = n[3:]
        
    if n[0:2]=="NO" and n[2].isdigit():
        n = n[2:]
    
    vs = n.split(" ")
    
    move_to_end = []
    for i in range(len(vs)):
        try:
            try:
                vs[i] = roman.fromRoman(vs[i])
            except:
                pass
            vs[i] = str(int(vs[i]))
            move_to_end.append(i)       
        except:
            pass
    
    if len(move_to_end) == 1:
        vs += [vs.pop(move_to_end[0])]
    
    n = "".join(vs)
    
    n = n.replace(" ","")

    n = n.replace(".",""); #get rid of periods
    n = n.replace("'",""); # get rid of single quotes
    n = n.replace("F/B",''); # get rid of all F/B
    n = n.replace("F/V",''); # get rid of all F/V
    n = n.replace("R/V",''); # get rid of all F/V
    n = n.replace("FV",''); # get rid of all FV
    n = n.replace("#",''); # get ride of #
    n = n.replace("-",''); # get ride of -
    n = n.replace("&",'AND'); # get ride of -
    return n

In [170]:
result["norm_shipname"] = result['shipname'].apply(normalize_shipname)
result["norm_Vessel Name"] = result['Vessel Name'].apply(normalize_shipname)

In [173]:
matches = result.loc[result['norm_shipname'] == result['norm_Vessel Name']]

In [174]:
matches.to_csv("matches_verified.csv")